@font-face {
    font-family: tf;
    src: url("../assets/fonts/Kalameh\(FaNum\)-Thin.ttf");
}
@font-face {
    font-family: nf;
    src: url("../assets/fonts/Kalameh\(FaNum\)-Regular.ttf");
}
@font-face {
    font-family: bf;
    src: url("../assets/fonts/Kalameh\(FaNum\)-Bold.ttf");
}
@font-face {
    font-family: bbf;
    src: url("../assets/fonts/Kalameh\(FaNum\)-Black.ttf");
}