@mixin cssReset {
    padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
  direction: rtl;
  box-sizing: border-box;
}


@mixin simpleHover {
    cursor: pointer;
    transition: all 0.3s ease;
     &:hover{
        opacity: 0.4;
     }
}

@mixin displayFlex($align){
    display: flex;
    align-items: center;
    @if ($align == center){
        justify-content: center;
    }
    @else if ($align == between){
        justify-content: space-between;
    }
    @else if ($align == evenly){
        justify-content: space-evenly;
    }
}


@mixin postsContainer {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    
    
    .postsListContainer{
        @include displayFlex(center);
        width: 80%;
        margin: auto;
        margin-top: 20px;
        flex-wrap: wrap;
        column-gap: 10px;
    }

    .postsListEmpty{
        height: 70vh;
        @include displayFlex(center);
        flex-direction: column;

        img{
            width: 300px;
        }

        p{
            font-family: bf;
            color: $textThree;
        }
    }
}
