$primaryColor : #aa2222;
$secondaryColor : #2e2e2e;
$blackColor : #101010;
$headerColor : #111111bb;
$bgColor : #F8F8F8;
$textOne : #222222;
$textTwo : #434343;
$textThree : #676767;
$textFour : #cacaca;
$textFive : #ffffff;

$topMargin : 70px;
