@import "./mixins";
@import "./variables";

.BlogContainer{
    
  margin-top: $topMargin;
}

.blogPostsContainer{
    @include postsContainer;
    @include displayFlex(center);
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 100px;

    &>button {
        background-color: $inputBg;
        color: $textThree;
        margin: 30px 0;
        padding: 8px 50px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba($color: $blackColor, $alpha: 0.3);
        font-size: 1rem;
    }
}