@import "./fonts";
@import "./variables";
@import "./mixins";

header {
    @include displayFlex(between);
    background-color: $headerColor;
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    padding: 5px 15px;

    nav{
        background-color: $secondaryColor;
        border-radius: 0 0 10px 10px;
        position: absolute;
        left: 10px;
        top: -200px;
        transition: all 0.5s;
        padding: 10px;
    }

    a{
        color: $textFive;
        font-family: bf;
        font-size: 0.8rem;
        @include simpleHover;
    }

    ul{
        @include displayFlex(center);
        flex-direction: column;
        column-gap: 20px;
    }

    li{
        padding-bottom: 8px;
        border-bottom: 1px solid $textTwo;
    }
    li:nth-child(4){
        border: none;
        margin-top: 5px;
    }

    li img{
        width : 20px;
    }

    button{
        @include displayFlex(center);
        column-gap: 10px;
    }

}

.navbarUsername{
    position: relative;
    &>div{
        background-color: $secondaryColor;
        @include displayFlex(center);
        column-gap: 5px;
        color: $textFive;
        font-size: 0.7rem;
        font-family: bf;
        padding: 3px;
        padding-right: 10px;
        border-radius: 20px;
    @include simpleHover();
    }

    img{
        border: 2px solid $blackColor;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    
.showLogoutInfo{
    background-color: $headerColor;
    color: $textFive;
    font-size: 0.7rem;
    font-family: bf;
    position: absolute;
    top: 100%;
    left: 30%;
}

}


.btnResponsiveMenu{
    @include displayFlex(center);
    margin: 0 20px;
    column-gap: 5px;
    cursor: pointer;
    @include simpleHover;

    span{
        color: $textFive;
        font-family: bf;
        font-size: 0.8rem;
    }

    img{
        width: 15px;
        margin-top: 5px;
    }

}

@media (min-width:660px) {
    .btnResponsiveMenu{
        display: none;
    }

    header {
        nav{
            position: none;
            top: -8px !important;
            background-color: transparent;

            ul{
                flex-direction: row;

            }

            li{
                border: none;
            }
        }
    }
}