@import "./mixins";
@import "./variables";


@mixin positionAbsolute {
    position: absolute;
    top: 0;
    left : 0;
}

.newPostFormContainer{

    @include displayFlex(center);
    flex-direction: column;
    row-gap: 20px;
    padding: 15px;

    input , textArea , .newPostFileUpload{
        background-color: $inputBg;
        font-family: nf;
        border-radius: 25px;
        padding: 10px 20px;
        width: 100%;
    }


    textArea{
        width: 100%;
        min-height: 400px;
    }

    .newPostTextAreaContainer > div{
        position: absolute;
        top: 15px;
        left: 15px;
        @include simpleHover();

        div{
            background-color: $primaryColor;
            width: 26px;
            height: 26px;
            border-radius: 50%;
             @include positionAbsolute();
            animation : scalingAnimation 1s ease-in-out infinite;
        }
        
        img{
            width: 26px;
            @include positionAbsolute();
            z-index: 1;
        }

        @keyframes scalingAnimation {
            from {
                transform: scale(0 , 0);
                opacity: 1;
            }
            to{
                transform: scale(1.5 , 1.5);
                opacity: 0;
            }
        }
    }


    &>div{
        @include displayFlex(center);
        width: 100%;
        position: relative;
    }

}

.newPostFileChooser{
    @include displayFlex(center);
    flex-direction: column;
    row-gap: 15px;

    .newPostFileUpload{
        width: 170px;
        text-align: center;
        font-family: bf;
        color: $textThree;
        @include simpleHover();
        font-size: 0.9rem;
    }

    input{
        display: none;
    }

    .newPostImagePreview{
        width: 250px;
        height: 100px;
        object-fit: cover;
        box-shadow: 0 0 5px rgba($color: $headerColor, $alpha: 0.3);
        border-radius: 15px;
    }

    
.newPostImageCondition{
    font-size: 0.7rem;
    color: $textThree;
}
}

.newPostSubmit{
    padding: 10px 20px;
    width: 50%;
    margin-top: $topMargin/2.5;
    background-color: $primaryColor;
    color: $textFive;
    font-size: 1rem;
}



@media (min-width : 768px){
    .newPostFormContainer{
        width: 70%;
        margin: auto;
    }
}