@import "./mixins";
@import "./variables";

$imageHeight : 200px;

.postContainer{

    flex : 1 1 300px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba($color: $textThree, $alpha: 0.7);
    position: relative;

    .postItemCategory{
        background-color: $bgColor;
        color: $textTwo;
        font-family: bf;
        font-size: 0.7rem;
        padding: 0 10px;
        position: absolute;
        top: $imageHeight - 25;
        left: 0;
        opacity: 1;
        border-radius:0 30px 30px 0;
        box-shadow: 0 0 10px $textFour;
    }

    
    img{
        width: 100%;
        height: $imageHeight;
        object-fit: cover;
    }
    
    h3{
        color: $primaryColor;
        font-size: 1.1rem;
        font-family: bf;
    }
    
    p{
        font-size: 0.8rem;
        color: $textTwo;
        text-align: justify;
        margin-top: 10px;
    }
    
    &>div{
        padding: 10px 20px;

        &>div{
            @include displayFlex(between);
            margin-top: 10px;
        }
    }

    span{
        font-size: 0.7rem;
        color: $textThree;    
    }

    button{
        margin-top: 15px;
        background-color: $primaryColor;
        color: $textFive;
        box-shadow: 0 0 10px $primaryColor;
    }


}